body {
  background-color: hsl(305, 40%, 90%);
}

header {
  h1 {
    text-align: center;
  }
}

section.product-list > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

footer {
  text-align: center;
}