@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&&family=Playfair+Display:wght@600&display=swap');

:root {
  --theme-purple-light: hsl(267, 54%, 62%);
  --theme-purple-dark: hsl(267, 35%, 50%);
  --theme-red: hsl(0, 100%, 67%);
  --theme-wine: hsl(337, 49%, 19%);
}
